<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text utils</title>
</head>
<body>
    <h1>your analyze text-{{purpose}}</h1>
    <p>
        {{analyzed_text}}
    </p>
</body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Enter Product Name</h1>
    <form method="post">
        {% csrf_token %}
        <label for="product_name">Product Name:</label>
        <input type="text" id="product_name" name="product_name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Enter Product Name</h1>
    <form method="post">
        {% csrf_token %}
        <label for="product_name">Product Name:</label>
        <input type="text" id="product_name" name="product_name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
