<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>working</title>
</head>
<body>
    <h1>welcome to summary review</h1>
   <form action="/summary" method="get">
     
    <textarea name='text' style="width: 1152px; height: 108px;" ></textarea>
    
   </form>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Platform</title>
</head>
<body>
    <h1>Welcome to Review Platform</h1>
    <p><a href="{% url 'home' %}">Enter</a></p>
</body>
</html>
